:root{

}

.h4 {
    font-size: 1.5rem;
    font-weight: bold;
}

.text-size-base{ font-size: 16px;}
.text-size-sm{font-size: 12px;}
.text-size-xs{font-size: 8px;}

.navbar-nav {
    align-items: center;
}

.navbar .logo {
    width: 120px;
}

footer .logo {
    width: 70px;
}

.login-main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
.login-main form {
    width: max-content;
    text-align: center;
    padding: 2rem;
}

.login-main form .logo {
    display: inline-block;
    max-width: 70%;
    margin: 0 auto 25px;
}

.login-title {
    margin: 0px auto 30px;
}

.login-main form .form-group {
    position: relative;
}

.login-main form .form-group label {
    position: absolute;
    left: 10px;
    top: 7px;
}

.login-main form .form-group input {
    text-indent: 20px;
}

.login-main form .form-group:nth-child(3) {
    margin-bottom: 30px;
}

.login-main form .form-group + button {
    width: 100%;
}

.carousel-item img {
    min-height: 268px;
    max-height: 600px;
}

.home-title {
    padding: 40px 0;
    text-transform: uppercase;
    text-indent: 40px;
    font-style: italic;
    background: url(../img/logoX.png) no-repeat left center;
    background-size: 70px;
}

.card-section {
    margin-bottom: 20px;
}

.card {
    margin-bottom: 25px;
}

.card figure {
    position: relative;
    margin-bottom: 0;
}

span.color {
    width: 0;
    height: 0;
    border-left: 55px solid transparent;
    border-right: 0px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
}

.color-vermell {border-top: 55px solid rgb(204, 44, 44);}
.color-blau {border-top: 55px solid rgb(60, 98, 223);}
.color-taronja {border-top: 55px solid rgb(214, 115, 49);}
.color-verd {border-top: 55px solid rgb(75, 177, 49);}

.card-body h2 {
    text-align: center;
    margin-bottom: 18px;
}

.card-body p.card-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ededed;
}

.card-body p:nth-last-child(2){
    margin-bottom: 25px;
}

.card-body p.card-text span+span {
    font-weight: 500;
}

.card-body button {
    width: 100%;
}

#areaPersonal h1 {
    padding-top: 30px;
    border-bottom: 2px solid #ffae00;
}

#areaPersonal .reserves {
    padding: 25px 0 50px;
    display: flex;
    justify-content: end;
}

#areaPersonal .reserves .btn {
    width: 100%;
}

.personal_area h2 {
    border-bottom: 1px solid #d5d5d5;
    font-size: 1.8rem;
    margin-bottom: 40px;
    padding-top: 30px;
}

.personal_area .form-group {
    align-items: end;
}

.personal_area .button-submit {
    margin-top: 50px;
    justify-content: center;
    margin-bottom: 50px;
}

.personal_area .button-submit button {
    min-width: 250px;
    min-width: 100%;
}

#competicions, #reserves{
    min-height: calc(100vh - 123px);
    padding-top: 30px;
}

#competicions h1, #reserves h1 {
    margin-bottom: 40px;
    border-bottom: 2px solid #ffae00;
}

#competicions .card-body p.card-text:nth-last-child(2) {
    border-bottom: none;
    text-align: justify;
}

.xml-logo {
    background: url(../img/logo-v4.png) no-repeat left center;
}

.xml-logo_header {
    height: 66px;
    background-size: 120px;
}

.xml-logo_footer {
    height: 39px;
    background-size: 70px;
}

footer {
    justify-content: center;
    align-items: center;
}

footer p {
    text-align: center;
    order: 2;
}

footer .logo {
    display: none;
}

footer ul.nav {
    justify-content: center;
}

/* Media quaries */
@media (min-width: 768px){
    .carousel-item img {
        min-height: 600px;
        max-height: 600px;
    }

    .personal_area .button-submit div {
        display: flex;
        justify-content: end;
    }
    
    .personal_area .button-submit button {
        min-width: 250px;
    }

    #areaPersonal .reserves .btn {
        width: 250px;
    }

    footer {
        justify-content: space-between;
    }

    footer p {
        text-align: left;
        order: 1;
    }

    footer .logo {
        display: block;
        order: 2;
    }

    footer ul.nav {
        justify-content: end;
        order: 3;
    }
}
@media (min-width: 576px){
    .modal-dialog {
        max-width: 350px;
    }
}

.login-error{
    color: #D8000C;
    background-color: #FFBABA;
}

.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}

html {
    scroll-behavior: smooth
}